<%- contentFor('body') %>
<div class="conteudo">
    <form onsubmit="">
        <input type="text" placeholder="Buscar" />
        <!-- <i class="fas fa-search"></i> -->
    </form>
</div>

<div class="linha">
    <h2>Previsão para Osasco - SP</h2>
</div>

<div class="linha">
    <% for(dados of dadosbuscados){ %>
    <div class="col-6">
        <div class="card">
            <h4><% dados.locale %></h4>
            <p>Sol com muitas nuvens durante o dia. Probabilidade de chuvas fortes no final da tarde.</p>
            <div class="dados">
                <img src="/img/maxima.png" title="maxima" alt="Maxima" />
                <span class="maxima">20° C</span>  
                <img src="/img/minima.png" title="minima" alt="Minima" />
                <span class="minima">10° C</span>              
            </div>
            <div class="dados2">
                <img src="/img/umido.png" title="umido" alt="Umido" />
                <span class="chuva">10MM</span>
                <img src="/img/chuva.png" title="chuva" alt="Chuva" />
                <span class="chuva">50%</span>
            </div>
        </div>
    </div>
<% } %>
    <!-- <div class="col-6">
        <div class="card">
            <h4>Dia 02/01/2020</h4>
            <p>Sol com muitas nuvens durante o dia. Probabilidade de chuvas fortes no final da tarde.</p>
            <div class="dados">
                <img src="/img/maxima.png" title="maxima" alt="Maxima" />
                <span class="maxima">20° C</span>  
                <img src="/img/minima.png" title="minima" alt="Minima" />
                <span class="minima">10° C</span>              
            </div>
            <div class="dados2">
                <img src="/img/umido.png" title="umido" alt="Umido" />
                <span class="chuva">10MM</span>
                <img src="/img/chuva.png" title="chuva" alt="Chuva" />
                <span class="chuva">50%</span>
            </div>
        </div>
    </div> -->
</div>